.categoriesPage {
  padding-bottom: 60px;
  .container {
    h1 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .categoryDescription {
      margin: 20px 0;
    }
    .categoriesList {
      background: $color-white;

      border-radius: $border-radius;
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 50px 20px;
      @include media-max($bp-xl) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px 10px;
      }
      @include media-max($bp-sm) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 20px;
        @include media-max($bp-sm) {
          grid-gap: 10px;
        }
        .img {
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          @include media-max($bp-sm) {
            font-size: 14px;
          }
        }
      }
    }
    .pageContent {
      margin-top: 60px;
      display: grid;
      grid-template-columns: 100%;
      @include media-max($bp-sm) {
        margin-top: 0;
      }
      &.active {
        grid-template-columns: 330px 1fr;
        @include media-max($bp-sm) {
          grid-template-columns: 100%;
        }
        .products {
          @include media-max($bp-sm) {
            padding: 0;
          }
          .productsGrid {
            grid-template-columns: repeat(4, 1fr);
            @include media-max(1800px) {
              grid-template-columns: repeat(3, 1fr);
            }
            @include media-max(1400px) {
              grid-template-columns: repeat(2, 1fr);
            }
            @include media-max($bp-md) {
              grid-template-columns: 100%;
            }
            @include media-max($bp-sm) {
              grid-template-columns: repeat(2, 1fr);
              //gap: 3px;
              width: 100%;
            }
          }
        }
      }
      .fixedBtn {
        display: none;
        @include media-max($bp-sm) {
          display: flex;
          position: fixed;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 999;
          background: $color-black;
        }
      }
      .attributes {
        border-right: 1px solid $color-border;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        @include media-max($bp-sm) {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow-y: scroll;
          background: $color-white;
          border: 0;
          padding: 20px;
          display: none;
          z-index: 99;
          &.active {
            display: flex;
          }
        }
        h2 {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
        }
        .select {
          border: 1px solid $color-border;
          border-radius: $border-radius;
          &.active {
            .selectOptions {
              display: block;
            }
          }
          .selectPreview {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            grid-gap: 10px;
            padding: 15px;
            cursor: pointer;
            p {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: $color-text-secondary;
            }
          }
          .selectOptions {
            display: none;
            .valueItem {
              display: grid;
              grid-template-columns: 18px 1fr;
              grid-gap: 10px;
              padding: 10px 15px;
              cursor: pointer;
              p {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
        }
      }
      .products {
        padding: 20px 40px;
        .productsGrid {
          padding: 0;
        }
      }
    }
  }
}
