.checkoutPage {
  .checkoutContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    form {
      display: grid;
      grid-template-columns: 1fr 500px;
      gap: 30px;
      @include media-max($bp-md) {
        display: flex;
        flex-direction: column;
      }
    }

    .paper {
      padding: 30px;
      height: fit-content;
      h3 {
        margin-bottom: 20px;
      }
      .step {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin-bottom: 30px;
        @include media-max($bp-xs) {
          gap: 20px;
        }

        .field {
          width: calc(50% - 50px);
          @include media-max($bp-xs) {
            width: 100%;
          }
        }
        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Hide the default increment arrows for Firefox */
        input[type='number'] {
          -moz-appearance: textfield;
        }

        /* Hide the default increment arrows for IE */
        input[type='number']::-ms-inner-spin-button,
        input[type='number']::-ms-outer-spin-button {
          display: none;
        }
      }

      .orderInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .products {
          display: flex;
          flex-direction: column;
          gap: 15px;
          max-height: 150px;
          overflow-y: auto;
          border-bottom: 1px solid #d9d9d9;
          padding: 15px 0;

          @include media-max($bp-md) {
            max-height: 250px;
          }
          .previewItem {
            display: flex;
            align-items: center;
            gap: 20px;
            .quantity {
              font-size: 24px;
              font-weight: 500;
            }
            .info {
              display: flex;
              flex-direction: column;
              .price {
                font-size: 21px;
                font-weight: 500;
              }
            }
          }
        }

        .totalPrice {
          font-size: 24px;
          font-weight: 500;
        }

        .checkboxRow {
          display: flex;
          align-items: center;
          gap: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
