.mainCategoryMask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mainCategoryContainer {
  z-index: 9999999;
  position: absolute;
  left: 0;
  top: calc(100% + 23px);
  display: flex;
  gap: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  .column {
    padding: 20px;
    min-width: 300px;
    &:first-child {
      background: $color-light;
    }
    @include media-max($bp-xl) {
      min-width: 250px;
    }
    @include media-max(1150px) {
      min-width: 220px;
    }
    a {
      display: grid;
      grid-template-columns: 1fr 15px;
      align-items: center;
      gap: 10px;
      color: $color-text-secondary;
      font-weight: 600;
      font-size: 13px;
      padding: 4px;
      word-break: keep-all;
      @include media-max($bp-xl) {
        font-size: 12px;
      }
      &.active {
        color: $color-primary;
      }
      svg {
        width: 15px;
        height: 15px;
        transform: rotate(-90deg) !important;
      }
    }
  }
}
