footer {
  background: $color-secondary;
  padding-top: 55px;
  margin-top: 40px;

  @include media-max($bp-sm) {
    padding-top: 25px;
    margin-top: 10px;
  }
  .footerContainer {
    padding: 0 200px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;

    @include media-max($bp-xxl) {
      padding: 0 100px;
      gap: 15px;
    }
    @include media-max($bp-xl) {
      padding: 0 80px;
      gap: 15px;
    }
    @include media-max($bp-lg) {
      padding: 0 50px;
      gap: 15px;
    }
    @include media-max($bp-md) {
      padding: 0 25px;
      gap: 15px;
    }
    @include media-max($bp-sm) {
      @include flexAlign;
      padding: 0 10px;
      gap: 10px;
      margin-bottom: 0;
    }
    .left {
      background-color: $color-white;
      padding: 60px 25px;
      border-radius: $border-radius;
      @include media-max($bp-sm) {
        display: none;
      }
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin: 20px 0;
      }
      p {
        font-size: 12px;
      }

      .logo {
        position: relative;
        width: 150px;
        height: 82px;
      }
      .socials {
        svg {
          height: 35px;
          width: 35px;
          margin-right: 15px;
        }
      }
    }
    .right {
      @include media-max($bp-sm) {
        order: -1; //inverse flex order
      }

      .top {
        //display: flex;
        align-items: flex-start;
        grid-gap: 70px;
        // @include media-max($bp-xl) {
        //   flex-direction: column;
        //   grid-gap: 50px;
        // }

        @include media-max($bp-sm) {
          flex-wrap: wrap;
        }
        .newsletter {
          @include flexCenterBetween;
          border-bottom: 1px solid $color-white;
          @include media-max($bp-sm) {
            padding-bottom: 20px;
          }

          @include media-max($bp-xs) {
            @include flexAlign;
            flex-wrap: wrap;

            //display: none;
          }
          // @include media-max($bp-sm) {
          //   display: flex;
          //   flex-direction: column;
          //   justify-content: flex-start;
          //   align-items: center;
          //   grid-gap: 50px;
          //   padding: 30px 15px;
          //   margin: 30px 0;
          // }
          .left {
            @include flexAlign;
            grid-gap: 25px;
            background-color: $color-secondary;
            padding: 40px 20px;
            @include media-max($bp-sm) {
              flex-direction: column;
              text-align: center;
              padding: 0 5px;
            }
            svg {
              height: 80px;
              width: 80px;
              @include media-max($bp-sm) {
                width: 50px;
                height: 50px;
              }
            }
            .text {
              h2 {
                font-weight: 600;
                font-size: 18px;
                line-height: 33px;
                color: $color-white;
              }
              p {
                color: $color-white;
                font-size: 12px;
                line-height: 22px;
                @include media-max($bp-lg) {
                  br {
                    display: none;
                  }
                }
                @include media-max($bp-sm) {
                  font-size: 12px;
                  br {
                    display: block;
                  }
                }
                @include media-max($bp-xs) {
                  br {
                    display: none;
                  }
                }
              }
            }
          }
          .right {
            padding: 20px;
            @include media-max($bp-sm) {
              order: 1;
              padding: 0 5px;
              margin: 10px 0;
            }
            .row {
              position: relative;
              button {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: 5px;
                @include media-max($bp-sm) {
                  width: 130px;
                  font-size: 12px;
                  padding: 10px 16px;
                }
              }
              input {
                padding-right: 150px;
                @include media-max($bp-sm) {
                  padding-right: 0;
                  font-size: 12px;
                  &::placeholder {
                    font-size: 12px;
                  }
                }
              }
            }
            .checkboxRow {
              display: grid;
              align-items: center;
              grid-template-columns: 18px 1fr;
              grid-gap: 10px;
              margin-top: 10px;
              @include media-max($bp-sm) {
                padding: 0 10px;
              }
              p {
                font-size: 13px;
                line-height: 20px;
                color: $color-white;
                @include media-max($bp-sm) {
                  font-size: 12px;
                }
                a {
                  font-size: 13px;
                  line-height: 20px;
                  font-weight: 500;
                  color: $color-white;
                  text-decoration: underline;
                  @include media-max($bp-sm) {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }

        .middle {
          display: grid;
          grid-template-columns: 3fr 1fr;
          margin-top: 30px;
          position: relative;
          @include media-max($bp-sm) {
            @include flexAlign;
            flex-wrap: wrap;
          }
          .middleLeft {
            position: relative;

            .logoMobile {
              @include media-max($bp-sm) {
                height: fit-content;
                background-color: $color-white;
                border-radius: 15px;
                padding: 10px;
                margin-bottom: 10px;
                text-align: center;
                img {
                  position: relative !important;
                  height: 70px !important;
                  width: 120px !important;
                }
                p {
                  font-size: 12px;
                }
              }
            }
            .links {
              display: grid;
              align-items: flex-start;
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 100px;

              @include media-max($bp-sm) {
                width: 100%;
                grid-template-columns: 100%;
                grid-gap: 15px;
                text-align: center;
                margin-top: 30px;
              }
              // @include media-max($bp-xs) {
              //   grid-template-columns: 100%;
              //   gap: 25px;
              // }
              h2 {
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                text-transform: uppercase;
                color: $color-white;
                margin-bottom: 10px;
              }
              a,
              p {
                font-weight: 200;
                font-size: 14px;
                line-height: 24px;
                color: $color-white;
                display: block;
                width: fit-content;
                @include media-max($bp-sm) {
                  margin: 0 auto;
                  display: none;
                }
              }
              .showAlways {
                display: block;
                h2 {
                  font-size: 16px;
                }
              }
            }
            .middleText {
              position: absolute;
              bottom: 0;
              left: 0;
              @include media-max($bp-sm) {
                position: relative;
              }
              p {
                color: $color-white;
                font-size: 12px;
                line-height: 20px;

                @include media-max($bp-sm) {
                  margin: 24px 0;
                  text-align: center;
                }

                br {
                  @include media-max($bp-lg) {
                    display: none;
                  }
                }
              }
            }
          }
          .middleRight {
            margin-left: 110px;

            @include media-max($bp-sm) {
              width: 100%;
              margin: 0;
              text-align: center;
              //order: 1;
            }
            h2 {
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              text-transform: uppercase;
              color: $color-white;
              margin-bottom: 10px;
            }

            p {
              font-weight: 200;
              font-size: 12px;
              line-height: 24px;
              color: $color-white;
              display: block;
              width: fit-content;
              @include media-max($bp-sm) {
                margin: 0 auto;
              }
            }
            a {
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
              color: $color-white;
              display: block;
              width: fit-content;
              margin-bottom: 10px;
              @include media-max($bp-sm) {
                margin: 0 auto;
              }
            }
            .bold {
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
              color: $color-white;
              display: block;
              width: fit-content;
              margin-bottom: 10px;
            }
            .socialsMobile {
              @include media-max($bp-sm) {
                // background-color: $color-white;
                // border-radius: 15px;
                padding: 10px;
                .socials {
                  a {
                    display: inline;
                  }
                }
                h3 {
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 24px;
                  text-transform: uppercase;
                  color: $color-white;
                  margin-bottom: 10px;
                }
                svg {
                  height: 30px;
                }
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    background-color: $color-primary;

    // @include media-max($bp-sm) {
    //   @include flexColumnCenter;
    //   grid-gap: 10px;
    //   text-align: center;
    // }
    .bottomContainer {
      @include flexCenterBetween;
      padding: 10px 200px;
      @include media-max($bp-sm) {
        padding: 10px;
        flex-wrap: wrap;
      }
      .left {
        @include media-max($bp-sm) {
          width: 100%;
        }
        p {
          font-size: 13px;
          line-height: 18px;
          color: $color-white;
          @include media-max($bp-sm) {
            text-align: center;
            display: block;
          }
          a {
            color: $color-white;
            font-size: 13px;
            @include media-max($bp-sm) {
              display: block;
            }
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-max($bp-sm) {
          margin: 0 auto;
        }
        p {
          font-size: 12px;
          color: $color-white;
        }
      }
    }
  }
}
