header {
  background: $color-white;
  //border-bottom: 1px solid $color-border;
  .headerBanner {
    &__content {
      @include flexCenterBetween;
      padding: 6px 0;
      @include media-max($bp-sm) {
        @include flexColumnCenter;
        gap: 5px;
      }
      p,
      a {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: $color-bg-header;
      }

      .right {
        @include flexAlign;
        a {
          @include flexAlign;
        }

        svg {
          padding: 0;
          margin: 0 5px;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .headerMiddle {
    position: relative;
    @include media-max($bp-sm) {
      padding: 15px 0;
    }
    &__content {
      @include flexCenterBetween;
      .left {
        display: grid;
        grid-template-columns: 240px 630px;
        align-items: center;
        gap: 120px;
        @include media-max($bp-xxl) {
          grid-template-columns: 240px 550px;
          gap: 50px;
        }
        @include media-max($bp-xl) {
          grid-template-columns: 200px 450px;
          gap: 24px;
        }
        @include media-max($bp-lg) {
          grid-template-columns: 170px 400px;
        }
        @include media-max($bp-md) {
          grid-template-columns: 170px 350px;
          gap: 10px;
        }
        @include media-max($bp-sm) {
          display: flex;
          gap: 0;
          .links {
            order: 1;
          }
          .searchInput {
            order: 2;
          }
        }
        .hamburger-react {
          display: none;
          @include media-max($bp-sm) {
            display: block;
            width: 20px;
            height: 20px;
            color: $color-white;
            margin-right: 10px;
            cursor: pointer;
          }
        }
        .logoLink {
          position: relative;
          //width: 150px;
          //height: 82px;
          @include media-max($bp-xl) {
            //height: 60px;
          }
          @include media-max($bp-lg) {
            //height: 50px;
          }
          @include media-max($bp-sm) {
            //width: 100px;
            //height: 50px;
          }
        }
        .searchInput {
          width: 100%;
          position: relative;
          @include media-max($bp-sm) {
            // position: fixed;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            background: $color-white;
            //z-index: 9999999999999;
            padding: 10px;
            //overflow-y: auto;
            display: none;
            &.active {
              display: block;
            }
          }
          .closeBtn {
            display: none;
            @include media-max($bp-sm) {
              display: none;
              // margin: 0 0 10px auto;
            }
          }
          .row {
            position: relative;
            display: flex;
            align-items: center;
            @include media-max($bp-sm) {
              border: 1px solid $color-border;
              border-radius: 30px;
            }
            input {
              padding-right: 42px;
              background: $color-light;
              &::placeholder {
                font-weight: 300;
              }
              &.active {
                border-radius: $border-radius-input $border-radius-input 0 0;
              }
              @include media-max($bp-sm) {
                border-radius: 30px;
                &.active {
                  border-radius: 30px;
                }
              }
            }

            .searchIcon {
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translateY(-50%);
              width: 22px;
              height: 22px;
              cursor: pointer;
              z-index: 1;
            }
          }
          .searchResultInputMask {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include media-max($bp-sm) {
              display: none;
            }
          }
          .searchResultInput {
            position: absolute;
            width: 100%;
            height: fit-content;
            max-height: 400px;
            overflow-y: scroll;
            background: $color-white;
            border-bottom-left-radius: $border-radius-input;
            border-bottom-right-radius: $border-radius-input;
            z-index: 9999999999999;
            &::-webkit-scrollbar {
              width: 5px;
              border-radius: $border-radius-input;
            }
            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-thumb {
              background: rgb(219, 219, 219);
              border-radius: $border-radius-input;
            }
            @include media-max($bp-sm) {
              position: static;
              max-height: unset;
              overflow: unset;
              border-radius: 0;
              z-index: unset;
            }
            .productRow {
              display: grid;
              grid-template-columns: 52px 1fr 24px;
              align-items: center;
              gap: 20px;
              padding: 10px 20px;
              width: 100%;
              cursor: pointer;
              @include media-max($bp-sm) {
                padding: 10px 0;
                grid-template-columns: 52px 1fr;
              }
              &:hover {
                background: $color-light;
              }
              .photo {
                width: 52px;
                height: 52px;
              }
              .info {
                display: flex;
                flex-direction: column;
                h2 {
                  font-size: 14px;
                  font-weight: 400;
                  @include media-max($bp-sm) {
                    font-size: 12px;
                  }
                }
                p {
                  font-size: 16px;
                  font-weight: 600;
                  @include media-max($bp-sm) {
                    font-size: 14px;
                  }
                }
              }

              svg {
                position: relative;
                width: 24px;
                height: 24px;
                margin-left: auto;
                @include media-max($bp-sm) {
                  display: none;
                }
              }
            }

            .noResult {
              padding: 15px;
              text-align: center;
            }
          }
        }
      }
      .links {
        @include flexAlign;
        gap: 24px;
        @include media-max($bp-sm) {
          grid-gap: 15px;
        }
        .icon {
          @include flexAlign;
          gap: 10px;
          color: $color-black;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          position: relative;
          @include media-max($bp-sm) {
            font-size: 0;
            gap: 0;
          }
          .headerIcon {
            width: 24px;
            height: 24px;
          }
          svg {
            width: 24px;
            height: 24px;
          }
          &.mob {
            display: none;
            @include media-max($bp-sm) {
              display: none;
            }
          }
          span {
            position: absolute;
            top: -10px;
            left: -14px;
            background: $color-primary;
            color: $color-white;
            border-radius: 12px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 10px;
            padding: 0 10px;
          }
          &.primary {
            background-color: $color-primary;
            padding: 15px;
            border-radius: $border-radius-button;
            color: $color-white;
          }
        }
      }
    }
    //MOBILE SEARCH BAR
    .searchInput {
      @include media-max($bp-sm) {
        margin: 15px 0;
        width: 100%;
        display: block;
        .row {
          position: relative;

          .closeBtnMobile {
            position: absolute;
            right: 20px;
            top: 35%;
            //display: none;
          }
        }
        .closeBtn {
          @include media-max($bp-sm) {
            display: none;
          }
        }
        &.active {
          .closeBtn {
            @include media-max($bp-sm) {
              display: block;
            }
          }
        }
      }
    }
    .searchIcon {
      @include media-max($bp-sm) {
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        width: 42px;
        height: 42px;
        cursor: pointer;
        z-index: 1;
        background-color: $color-primary;
        border-radius: 70px;
        padding: 10px;
        // display: none;
      }
    }
    .searchResultInputMask {
      @include media-max($bp-sm) {
        display: none;
      }
    }
    .searchResultInput {
      position: absolute;
      width: 100%;
      height: fit-content;
      max-height: 400px;
      overflow-y: scroll;
      background: $color-white;
      border-bottom-left-radius: $border-radius-input;
      border-bottom-right-radius: $border-radius-input;
      z-index: 9999999999999;
      &::-webkit-scrollbar {
        width: 5px;
        border-radius: $border-radius-input;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(219, 219, 219);
        border-radius: $border-radius-input;
      }
      @include media-max($bp-sm) {
        position: static;
        max-height: unset;
        overflow: unset;
        border-radius: 0;
        z-index: unset;
      }
      .productRow {
        display: grid;
        grid-template-columns: 52px 1fr 24px;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;
        width: 100%;
        cursor: pointer;
        @include media-max($bp-sm) {
          padding: 10px 0;
          grid-template-columns: 52px 1fr;
        }
        &:hover {
          background: $color-light;
        }
        .photo {
          width: 52px;
          height: 52px;
        }
        .info {
          display: flex;
          flex-direction: column;
          @include media-max($bp-sm) {
            max-width: 100%;
          }
          h2 {
            // font-size: 14px;
            // font-weight: 400;
            //width: 100%;
            //word-wrap: break-word;
            //display: none;
            @include media-max($bp-sm) {
              font-size: 12px;
              overflow: hidden;
              width: 260px;
              // overflow-x: auto;
              // white-space: nowrap;
            }
          }
          p {
            font-size: 16px;
            font-weight: 600;
            @include media-max($bp-sm) {
              font-size: 14px;
            }
          }
        }

        svg {
          position: relative;
          width: 24px;
          height: 24px;
          margin-left: auto;
          @include media-max($bp-sm) {
            display: none;
          }
        }
      }

      .noResult {
        padding: 15px;
        text-align: center;
      }
    }
  }
  nav {
    background-color: $color-secondary;

    grid-gap: 170px;
    padding: 12px 0;
    @include media-max($bp-xl) {
      grid-gap: 50px;
    }
    @include media-max($bp-md) {
      grid-gap: 20px;
    }
    @include media-max($bp-sm) {
      //display: none;
    }
    .navContainer {
      position: relative;
      padding: 0 200px;
      @include flexAlign;
      @include media-max($bp-xxl) {
        padding: 0 100px;
      }
      @include media-max($bp-xl) {
        padding: 0 80px;
      }
      @include media-max($bp-lg) {
        padding: 0 50px;
      }
      @include media-max($bp-md) {
        padding: 0 25px;
      }
      @include media-max($bp-sm) {
        padding: 0 10px;
      }
      .select {
        position: relative;
        &.active {
          svg {
            transform: rotate(180deg);
          }
        }
        .selectPreview {
          @include flexAlign;
          grid-gap: 10px;
          cursor: pointer;
          background-color: $color-primary;
          padding: 10px 20px;
          border-radius: $border-radius-button;
          margin-right: 180px;

          p {
            color: $color-white;
          }
          svg {
            transition: all 0.2s ease-in-out;
          }
          @include media-max($bp-xxl) {
            margin-right: 130px;
          }
          @include media-max($bp-xl) {
            margin-right: 110px;
          }
          @include media-max($bp-lg) {
            margin-right: 90px;
          }
          @include media-max($bp-sm) {
            display: none;
          }
        }
      }

      .links-container {
        @include media-max($bp-sm) {
          display: flex;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          -webkit-overflow-scrolling: touch; /* enable smooth scrolling on iOS */
          position: relative;
        }
        .links {
          @include flexAlign;
          gap: 45px;
          @include media-max($bp-xxl) {
            gap: 30px;
          }
          @include media-max($bp-xl) {
            gap: 25px;
          }
          @include media-max($bp-lg) {
            gap: 20px;
          }
          @include media-max($bp-md) {
            gap: 15px;
          }
          @include media-max($bp-sm) {
            gap: 10px;
          }
          a.link {
            font-weight: 400;
            color: $color-white;
            @include media-max($bp-sm) {
              scroll-snap-align: start; /* snap to the start of each link */
              white-space: nowrap; /* prevent links from wrapping */
              padding: 0 12px; /* add some padding between links */
              /* add any additional styling as needed */
              //display: none;
            }
            &.active {
              font-weight: 500;
            }
            &.primary {
              background-color: $color-primary;
              border-radius: $border-radius-button;
              padding: 10px 25px;
              color: $color-white;
            }
          }
          .show-more {
            position: sticky;
            right: 0;
            margin-left: auto;
            font-size: 20px;
            display: none;
            //font-weight: bold;
            //visibility: hidden;
            // padding-left: 30px;
            // background-color: $color-white;
            // background: linear-gradient(
            //   to right,
            //   transparent,
            //   $color-light,
            //   $color-light,
            //   transparent
            // );
            // z-index: 100;
          }
        }
      }
      .links {
        @include flexAlign;
        gap: 45px;
        @include media-max($bp-lg) {
          grid-gap: 25px;
        }
        @include media-max($bp-md) {
          grid-gap: 20px;
        }
        a.link {
          font-size: 15px;
          font-weight: 400;
          color: $color-white;
          &.active {
            font-weight: 800;
            //padding: 10px 32px;
            border-radius: $border-radius-button;
            //background-color: $color-primary;
            @include media-max($bp-sm) {
              background-color: inherit;
            }
          }
        }
      }
      .hamburgerIcon {
        position: relative;
        float: right;
        margin-left: auto;
        height: 27px;
        width: 27px;
        cursor: pointer;
        @include media-max($bp-sm) {
          display: none;
        }
        .hamburgerContent {
          padding: 20px 30px;
          width: 300px;

          position: absolute;
          top: 50px;
          right: 0;
          background-color: $color-light;
          z-index: 999;
          border-radius: 0 0 15px 15px;
          li {
            font-size: 14px;
            margin-bottom: 10px;
            &:hover {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

// Mobile Categories
.mobileCategoriesWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999999999999999;
  background: rgba($color: $color-black, $alpha: 0.5);
  display: none;
  @include media-max($bp-sm) {
    display: block;
  }
  .closeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    color: $color-white;
  }
  .content {
    width: 90%;
    height: 100%;
    background: $color-white;
    overflow-y: auto;
    .categoryContainer1 {
      padding-left: 10px;
    }
    .categoryContainer2 {
      padding-left: 20px;
    }
    .categoryContainer3 {
      padding-left: 30px;
    }
    .categoryContainer4 {
      padding-left: 40px;
    }
    .item {
      display: grid;
      grid-template-columns: 1fr 25px;
      align-items: center;
      border-bottom: 1px solid $color-border;
      &.root {
        background: $color-light;
      }

      &.active {
        a {
          color: $color-primary;
          background-color: #ededed;
        }
      }

      a {
        font-size: 14px;
        font-weight: 500;
        color: $color-black;
        padding: 7px 10px;
      }
      span {
        width: 25px;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 14px;
          height: 14px;
          transition: all 0.2s ease-in-out;
          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
