.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  grid-gap: 20px;
  color: #9f9f9f;
  .item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.active {
      color: $color-black;
      font-weight: 700;
    }
    &.arrow {
      width: 30px;
      height: 30px;
      &:first-child {
        transform: rotate(180deg);
      }
    }
  }
}
