.productsSection {
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 30px 40px;
  .row {
    @include flexCenterBetween;
    margin-bottom: 40px;
    h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }
    a {
      color: $color-text-secondary;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .paper {
    background: unset;
    box-shadow: none;
    border-radius: 0;
    &.productsGrid {
      padding: 0;
    }
  }
}
