.sortField {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 15px;
  @include media-max($bp-sm) {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    @include media-max($bp-xs) {
      font-size: 12px;
    }
  }
  .select {
    position: relative;
    &.active {
      .selectPreview {
        svg {
          transform: rotate(180deg);
        }
      }
      .selectOptions {
        opacity: 1;
        pointer-events: unset;
      }
    }
    .selectPreview {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      border: 1px solid #dddddd;
      border-radius: 25px;
      cursor: pointer;
      grid-gap: 15px;
      min-width: 300px;
      p {
        font-weight: 500;
        font-size: 14px;
        color: $color-text-secondary;
        @include media-max($bp-xs) {
          font-size: 12px;
        }
      }
      svg {
        transition: all 0.2s ease-in-out;
      }
    }
    .selectOptions {
      opacity: 0;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
      border: 1px solid #dddddd;
      border-radius: $border-radius;
      position: absolute;
      top: calc(100% + 12px);
      left: 0;
      right: 0;
      z-index: 5;
      background: $color-white;
      overflow: hidden;
      ul {
        li {
          font-size: 14px;
          font-weight: 300;
          padding: 8px;
          cursor: pointer;
          &:hover {
            background: $color-light;
          }
          &.active {
            font-weight: 500;
          }
        }
      }
    }
  }
}
