.badge {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $color-white;
  padding: 3px 10px;
  border-radius: 50px;
  background: $color-secondary;
  width: fit-content;
  &.primary {
    background: $color-primary;
  }
}
