button,
a {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &.btn-primary {
    @include flexCenter;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 32px;
    font-weight: 600;
    color: $color-white;
    background: $color-primary;
    border-radius: $border-radius-button;
    border: 1px solid transparent;
    &:hover {
      color: $color-primary;
      border-color: $color-primary;
      background: $color-white;
    }
    &.light {
      background: $color-light;
      color: $color-black;
      &:hover {
        border-color: transparent;
      }
    }
  }
  &.btn-banner {
    @include flexCenter;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 8px;
    font-weight: 600;
    color: transparent;
    background: $color-white;
    border-radius: $border-radius-banner-button;
    border: 1px solid transparent;
    color: $color-black;
    &:hover {
      background: $color-black;
      color: $color-white;
    }
  }
  &:disabled {
    background: #d7d7d7 !important;
    color: $color-black !important;
  }
}
