$color-white: #fff;
$color-black: #000;

$color-primary: #0b9bd7;
$color-secondary: #083c56;
$color-light: #ededed;
$color-danger: #da0e0e;

$color-text-primary: #000;
$color-text-secondary: rgba(0, 0, 0, 0.6);

$color-border: rgba(0, 0, 0, 0.05);
$color-bg-header: #2b2a28;
$color-bg-footer: #2b2a28;
